.container text-center{
    background-image: linear-gradient(skyblue,white);
    margin-top: 600px;
    align-items: center;
    border: 0 px;
    line-height: 72px;
    margin-top: 660px;
}
.col{
    
    background-image: linear-gradient(skyblue,white);
    margin-top:160px;
}
.parent{
    background-image: linear-gradient(skyblue,white);
    margin-top:420px;
    /* width: 400px;
    margin-left: auto;
    margin-right: auto; */
} 
h1{
    font-style:poppins;
    color:#4B77BE;
    text-align: center;
    
}
h2{
    text-align: center;
    justify-content: space-between;
}
p{
    text-align: center;
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 54px;
/* text-underline-position: from-font;
text-decoration-skip-ink: none; */
background: #4B77BE;
}
.search-container{
    align-items: baseline;
}
 /* body{
    background-image: linear-gradient(skyblue,white);
    margin-top: 200px;
 } */